/* Nav */
.nav-pad {
    padding-top: 10px;
}

.nf-bg {
    background-color: #000;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}

/* Movie Carousel */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 200px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.item {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  position: absolute;
  right: max(calc(200px * 8), 100%);
  animation-name: scrollRight;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: cover;
  background-position: center;
  background-color: #000;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.wrapper:hover .item{
    animation-play-state:paused;
    }

/* Home page */
.white-box {
    background-color: white; /* White background */
    width: 60%; /* Adjust the width as needed */
    margin: 2rem auto; /* Center the box horizontally and add vertical spacing */
    padding: 2rem; /* Add padding inside the box */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    text-align: center; /* Center the text inside the box */
    border: solid 6px;
    animation: borderColorChange 5s ease infinite;
}

@keyframes borderColorChange {
    0% {
        border-color: rgb(165, 39, 39);
    }
    25% {
        border-color: rgb(0, 174, 255);
    }
    50% {
        border-color: rgb(33, 223, 33);
    }
    75% {
        border-color: yellow;
    }
    100% {
        border-color: rgb(214, 78, 101);
    }
}

.search-bar {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 30px;
}

.home-btn {
    padding-top: 10px;
}

/* Main */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

.white {
    background: linear-gradient(135deg, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
    background-size: 400% 400%; /* Ensure smooth transitions */
    animation: gradientShift 10s ease infinite; /* Add animation for a shifting gradient */
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card {
    border: none;
    height: 100%;
}

.card-body {
    background-color: black;
    color: #fff;
    border: none;
}

.overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4.5em;
}

.m-btn {
    display: block;
    margin: 0 auto;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.movie-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 15%;
    height: auto;
    padding-top: 20px;

}

.mid {
    text-align: center;
    padding-top: 20px;
}

.info {
    background-color: #fff;
}

.review-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: solid 6px;
    animation: borderColorChange 5s ease infinite;
}

@keyframes borderColorChange {
    0% {
        border-color: rgb(165, 39, 39);
    }
    25% {
        border-color: rgb(0, 174, 255);
    }
    50% {
        border-color: rgb(33, 223, 33);
    }
    75% {
        border-color: yellow;
    }
    100% {
        border-color: rgb(214, 78, 101);
    }
}

.review-box form {
    width: 100%;
}

.review-box textarea {
    resize: none;
}

.pad-btm {
    padding-bottom: 20px;
}

/* Footer */
footer {
    margin-top: auto;
}