/* Nav */
.nav-pad {
    padding-top: 20px;
}

.nf-bg {
    background-color: #000;
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}
/* Main */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

.white {
    background: linear-gradient(135deg, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
    background-size: 400% 400%; /* Ensure smooth transitions */
    animation: gradientShift 10s ease infinite; /* Add animation for a shifting gradient */
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card {
    border: none;
    height: 100%;
}

.card-body {
    background-color: black;
    color: #fff;
    border: none;
}

.overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4.5em;
}

.m-btn {
    display: block;
    margin: 0 auto;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.movie-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 15%;
    height: auto;
    padding-top: 20px;

}

.mid {
    text-align: center;
    padding-top: 20px;
}

.info {
    background-color: #fff;
}

@keyframes borderColorChange {
    0% {
        border-color: rgb(165, 39, 39);
    }
    25% {
        border-color: rgb(0, 174, 255);
    }
    50% {
        border-color: rgb(33, 223, 33);
    }
    75% {
        border-color: yellow;
    }
    100% {
        border-color: rgb(214, 78, 101);
    }
}

.review-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: solid 6px;
    animation: borderColorChange 5s ease infinite;
}

.review-box form {
    width: 100%;
}

.review-box textarea {
    resize: none;
}

.pad-btm {
    padding-bottom: 20px;
}

/* Footer */
footer {
    margin-top: auto;
}