{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="wrapper" id="trending-wrapper">
    <div class="item item1"></div>
    <div class="item item2"></div>
    <div class="item item3"></div>
    <div class="item item4"></div>
    <div class="item item5"></div>
    <div class="item item6"></div>
    <div class="item item7"></div>
    <div class="item item8"></div>
  </div>

<div class="white-box">
    <h2 class="text-black text-center">Welcome to ZoroCinematics</h2>
    <p class="text-black text-center">
        Explore the latest trending movies and find your next favorite film!
    </p>
    <form action="/search/" method="get" class="search-bar">
        <div class="col-auto">
            <input type="text" class="form-control" id="search-input" placeholder="Search A Movie" name="q" list="suggestions">
        </div>
    
        <div class="col-auto home-btn">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

{% endblock %}
{% block copyright %}Copyright 2025 Loreal Francis-Boyles{% endblock %}